* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex-grow: 1;
    background-color: #c2f2df;
    padding-bottom: 100px;
    
}
.content {
    padding-bottom: 50px;
}

.custom-background {
    background-color: #9ae0c4;
}
.custom-bg {
    background-color: #9ae0c4;
    font-style: #505050;
}

.custom-search-btn {
    background-color: #f8c0c2; /* Exemple de couleur verte pastel */
    border-color: #7bc043; /* Couleur de la bordure */
    color: #505050; /* Couleur du texte */
}

.custom-search-btn:hover {
    background-color: #f8c0c2; /* Couleur de survol */
    border-color: #659e37;
}
.btn-outline-secondary {
    background-color: #f8c0c2;
}
.circle-container {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }
  
  .circle-container img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  

/*.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #9ae0c4; /* Tu peux ajuster la couleur de fond selon ton design */
    padding: 50px 0; /* Ajuste le padding selon tes besoins */
    /*margin-top: auto;*/
  }*/
  